<!--<html>
    <body>
        <div class="container">
            <h2>Striped Rows</h2>
            <p></p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> Name </th>
                        <th> Designation </th>
                        
                    </tr>
                </thead>
                <tbody>
                   <!-- <tr *ngFor="let employee of employees">
                        <td>{{employee.name}}</td>
                        <td>{{employee.designation}}</td>
                 </tr>
                 <tr>
                     <td>Hii</td>
                     <td>Hello</td>
                 </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>-->
<h1>hello</h1>